<div class="card" style="margin-top: 125px ; margin-bottom: 50px" >
  <div class="row" *ngIf="cartList.length>0">
    <div class="col-md-8 cart" >
      <div class="title">
        <div class="row">
          <div class="col-md-2">Hình ảnh</div>
          <div class="col-md-3 align-self-center text-right text-muted">Số lượng</div>
          <div class="col-md-2 align-self-center text-right text-muted">Đơn giá</div>
          <div class="col-md-3 align-self-center text-right text-muted">Thành tiền</div>
          <div class="col-md-2 align-self-center text-right text-muted" style="text-align: center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg></div>
        </div>
      </div>
        <div class="row border-top border-bottom" *ngFor="let temp of cartList">
          <div class="row main align-items-center">
            <div class="col-md-2"><img class="img-fluid" src="{{temp.book.image}}"></div>
            <div class="col-md-3">
              <button style="text-decoration: none; border-radius: 15px"class="border"  (click)="discount(temp,temp.id,temp.book.name,temp.book.author)" >-</button>
              <button style="text-decoration: none; border-radius: 15px; margin-left: 5px;margin-right: 5px"class="border">{{temp.quantity}}</button>
              <button style="text-decoration: none; border-radius: 15px"class="border" (click)="increase(temp)" >+</button>
            </div>
            <div class="col-md-2">{{temp.book.price|number}}đ</div>
            <div class="col-md-3">
              {{temp.quantity * temp.book.price| number}}đ
            </div>
            <div class="col-md-2" style="text-align: center"><a  (click)="delete(temp.id,temp.book.name,temp.book.author)"  > <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg></a></div>
          </div>
        </div>
        <a routerLink="" style="text-decoration: none"><div class="back-to-shop"><span class="text-muted">Tiếp tục mua sắm</span></div></a>
      </div>
    <div class="col-md-4 summary" >
      <div><h5><b>Thanh toán</b></h5></div>
      <hr>
      <div class="row" >
       <div class="col-md-6"> <p><strong>Tài khoản: </strong></p></div>
       <div class="col-md-6" style="padding-left:0"><strong>{{user.username}}</strong></div>
      </div>
      <div class="row" >
        <div class="col-md-6"> <p><strong>Số Điện Thoại: </strong></p></div>
        <div class="col-md-6" style="padding-left:0;"><strong>{{user.phone}}</strong></div>
      </div>
      <div class="row" >
        <div class="col-md-6"> <p ><strong>Địa chỉ: </strong></p></div>
        <div class="col-md-6" style="padding-left:0;"><strong>{{user.address}}</strong></div>
      </div>
      <form>
        <p>Đơn vị ship</p>
        <select style="border-radius: 15px">
          <option class="text-muted">Giao hàng tiết kiệm</option>
          <option class="text-muted">Shoppe food</option>
          <option class="text-muted">Tiki</option>
        </select>
        <p>Mã giảm giá</p>
        <input id="code" placeholder="Nhập mã" style="border-radius: 15px">
      </form>
      <div class="row" >
        <div class="col" ><strong>Tổng tiền</strong></div>
        <div class="col text-right" style="color: red"> {{total|number}}đ</div>
      </div>
      <button  style="margin-left: 80px; margin-top: 20px" (click)="payment()" mat-raised-button color="primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <!--                        data-bs-toggle="modal" data-bs-target="#exampleModal"-->
        Mua Hàng
      </button>
    </div>
  </div>
  <div class="row m-4" *ngIf="cartList.length === 0" style="height: 100px">
    <h3 class="col-12 text-center text-muted ">Giỏ hàng bạn còn trống</h3>
    <a style="text-align: center; height: 50px" width="30px" (click)="input.click()" ><img  src="https://salt.tikicdn.com/desktop/img/mascot@2x.png" ></a>
    <button hidden routerLink="" #input></button>
  </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-muted" id="exampleModalLabel">Thanh Toán Tín Dụng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close"></button>
      </div>
      <div class="modal-body">
        <div id="paypal" class="mx-2"></div>
      </div>

    </div>
  </div>
</div>
